@{
    ViewBag.Title = "Księgarnia: ślepy zaułek";
}

<h2>Kurczę!</h2>
Przesyłanie zamówienia do bazy danych nie zostało zaimplementowane. Mam jednak nadzieję, że zaprezentowana część aplikacji pozwala na ocenę moich umiejętności.